# Configuration locale pour développement (optionnel)
:80 {
        root * /var/www/proxmox/public
        php_fastcgi unix//run/php/php8.2-fpm.sock
        file_server
        try_files {path} index.php index.php index.html
}

:81 {
        root * /var/www/proxmox/public
        php_fastcgi unix//run/php/php8.2-fpm.sock
        file_server
        try_files {path} todo_list.php index.php index.html
}

:82 {
        reverse_proxy http://192.168.0.51:1984
}

